h2 Introduction
p Tres y dos (Spanish for 'three and two') is a simple draw and discard game of the rummy type played in the Dominican Republic. Humbernio Lockward learned it as a child, and writes that most Dominicans who have ever played cards know this game. It would be interesting to know whether it is played in other Spanish speaking countries. At present we do not know any players from elsewhere so it may be that it originates from the Dominican Republic.
h2 Objective
p The object is to be the first player to form in their hand a "full house": one triplet of 3 matching cards and one pair of 2 matching cards, such as K-K-K-8-8 or 3-3-3-5-5 (thus the name tres y dos), through the process of draw and discard.

.container
    button(id='start') Start Game
    .log(id='log') Bienvenido
    .player-text Cartas PC
    .table
        .card.card__b
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="carta 1" id='pc1')
        .card.card__a
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="carta 1" id='pc2')
        .card.card__c
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="carta 1" id='pc3')
        .card.card__d
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="carta 1" id='pc4')
        .card.card__e
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="carta 1" id='pc5')
    .table
        .deck(id='deck')
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="card-deck" id='deck-img')
        .options(id='options') Do you want to change the card ?
            br 
            button(id='continue') Next turn
        .selected(id='trash')
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="card-selected" id='selected')
    .player-text Jugador
    .table
        .card.card__b
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="carta 1" id='my1' data-id=0)
        .card.card__a
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="carta 1" id='my2' data-id=1)
        .card.card__c
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="carta 1" id='my3' data-id=2)
        .card.card__d
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="carta 1" id='my4' data-id=3)
        .card.card__e
            img(src="https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png", alt="carta 1" id='my5' data-id=4)
    .message
        //- h3.win Has Ganado!
        //- h3.lose Has Perdido :(
.footer
    p Creado por Walter Díaz