h2 Instrucciones
.container
    button(id='start') Iniciar Juego

    .table
        | Cartas PC
        .card.card__b
        .card.card__a
        .card.card__c
        .card.card__d
        .card.card__e
    .table
        .deck
            | Tomar carta

        .selected
            |Carta disponible
    .table
        |Mis cartas
        .card.card__b
        .card.card__a
        .card.card__c
        .card.card__d
        .card.card__e
    .x
        h3 Has Ganado!
        h3 Has Perdido :(